.table {
    background-color: aliceblue;
}

.colonne1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    color: wheat;
}

.colonne2 {
    font-family: 'Courier New', Courier, monospace ;
    color: black;
}

.colonne3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: brown;
}

.colonne4 {
    font-family: serif;
    color: cadetblue;
}